
/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////// PERSONAL STYLES ////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

/* ---------------- NAVIGATION MENU -----------------*/
#headerPage
{
    position: fixed;
    width: 100%;
    height: auto;
    padding: 5px 0px 5px 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    top: 0px;
}
#headerPage-content
{
    max-width: 960px;
    min-width: 320px;
    display: flex; /* display horizontally */
    margin: auto;  /* cetralize vertically and horizontally */
}
#headerPage-profile
{
    display: flex; /* display horizontally */
}
#headerPage-Menu
{
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: flex-end;
}
#imgLogo
{
    width: 65px;
    height: 65px;
    margin-left: 10px;
    cursor: pointer;
}
#mainTitle
{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #e5e5e5;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 15px;
}
.menuItem
{
    margin: 0px 20px 0px 20px;
    color: #e5e5e5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    cursor: pointer;
}


/* ----------------- WELCOME PAGE ------------------*/
#welcomePage
{
    background-image:url('../resources/background.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 28vh 0; /* padding vertically 25% of viewport's heigh and 0% horizontally */
}
#welcomePage h1
{
    color: #e5e5e5;
    font-size: 36px;
}
#welcomePage p
{
    color: #e5e5e5;
    padding: 0px 15px;
}


/* ----------------- PROFILE PAGE ------------------*/
#profilePage
{
    background-color: #3498DB;
}
#personalPicture
{
    height: 300px;
    width: 250px;
    border: 2px solid #2b2b2b;
}
.profilePage-columns
{
    vertical-align: middle;
    display: inline-block;
    width: 40%;
    min-width: 300px;
    padding: 10px;
}


/* -------------- PORTFOLIO PAGE ----------------- */
#portfolioPage
{
    background-color: #e5e5e5;
}
.blockItem
{
    margin-top: 20px;
    margin: 50px 15px 15px 15px;
    background-color: #d9d9d9;
}
.blockItem-image
{
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: -25px;
    /*--- Image Properties ----*/
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.blockItem-description
{
    margin-top: -50px;
    padding: 20px;
}
.gallery
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.galleryItem
{
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 5px;
    background-color: #d9d9d9;
}
.galleryImage
{
    width: 300px;
    height: 200px;
    /*  Image Properties */
    background-image:url('resources/logo.jpeg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.videoItem
{
    height: auto;
    width: 94%;
    background-color: #d9d9d9;
    margin: 3%;
}
.video
{
    height: 400px;
    width: 100%;
}


/* -------------- CONTACT PAGE ----------------- */
#contactPage
{
    background-color: #2ecc71;
}
#contactPage-rectangle
{
    width: 80%;
    margin: auto;
    padding: 40px 0px;
    background-color: #F9F9F7;
}
.contatcPage-Columns
{
    display: inline-block;
    width: auto;
    min-width: 200px;
    height: auto;
    margin: 5px;
}


/* -------------- FOOTER ----------------- */
footer
{
    background-color: #e5e5e5;
    margin: 20px auto;
    width: 100vw;
}




/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////// COMMUN STYLES /////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
.red
{
    background-color: red;
}

.page
{
    width: 100%;
    overflow: auto; /* margin of childs don't affect parent */
}
.container
{
    display: table;
    max-width: 960px;
    min-width: 320px;
    margin: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 100%;
}
.centralize
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.title
{
    font-size: 32px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #2b2b2b;
}
.subtitle
{
    font-size: 22px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #2b2b2b;
}
.paragraph
{
    line-height: 120%; /* space between lines */
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #2b2b2b;
}
.description
{
    line-height: 120%; /* space between lines */
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #2b2b2b;
    margin-top: 10px;
    padding-bottom: 10px;
}

.noSpace { margin: 0px; padding: 0px; }
.littleSpace {  margin-bottom: 1vh; }
.singleSpace {  margin-bottom: 2vh; }
.doubleSpace {  margin-bottom: 4vh; }
.tripleSpace {  margin-bottom: 8vh; }

.textJustify { text-align: justify; }
.textCentralized { text-align: center; }
.textRight { text-align: right; }
.textLeft { text-align: left; }
.recuo { text-indent:4em }

.hoverShadow:hover
{
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hoverZoom:hover { background-size: 110%; }
.hoverTextColor:hover { color: #FFD700; }


/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////// MEDIA QUERIES /////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 800px)
{
    /* -----------------------------  NOTE  ------------------------------------------    
    JQuery animation chanes the default value of some elements like 'left'. 
    '!important' statement forçes media query/css to set that value anyhow.
    ----------------------------------------------------------------------------------*/
    #headerPage
    {
        left: 0px !important;
    }
    #mainTitle
    {
        opacity: 1 !important;
    }
}
@media only screen and (max-width: 800px)
{
    #headerPage
    {
        position: fixed;
        width: 230px;
        height: 100vh;
        padding: 0px 10px 0px 10px;
        left: -250px;
    }
    
    #headerPage-content
    {
        max-width: 100%;
        min-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; /* display vertically */
    }
    
    #headerPage-profile
    {
        position: fixed;
        top:5px;
        left: 0px;
        display: block; 
    }
    
    #mainTitle
    {
        margin: auto;
        text-align: center;
        opacity: 0;
    }
    
    #headerPage-Menu
    {
        height: auto;
        margin: auto;
        padding-top: 80px;
        flex-direction: column; /* display vertically */
        justify-content: center;
    }
    
    .menuItem
    {
        margin: 10px 0px 10px 0px;
        font-size: large;
        text-align: center;
    }
}
/* ---------------------------------------  NOTE  ------------------------------------------    
'width: device-width' doesn't allow mobile broswers to zoom out webpage and display
it the same than in big screens. It forces web page to setup itself according to device width.
-------------------------------------------------------------------------------------------*/
@-ms-viewport
{
    width: device-width;
}